#search-area {
    display: flex;
    justify-content: space-between;
}

#search-area > button {
    align-self: center;
}

.action-button {
    margin-right: 8px;
}

.mat-form-field {
    margin-left: 0px;
}